<header>
    <div class="container row">
        <a class="logo" href="/"><i class="fab fa-cloudversify"></i></a>
        <button class="nav-toggle nav-toggle--store" aria-label="nav--visible">
            <span class="hamburger"><i class="fas fa-bars"></i></span>
        </button>

        <nav>
            <ul>
                <li><a href="/" class="nav__link">Home</a></li>
                <li><a href="/animeShow" class="nav__link">Shows</a>
                <li><a href="/mangaShow" class="nav__link">Manga</a>
                </li>
                <li><a href="/store" class="nav__link">Store</a>
                </li>
            </ul>

            <ul class="nav__list--btn">
                <li><a href="#" class="nav__link nav__link--btn"> <i class="fas fa-user-circle"
                            title="sign up user icon"></i> Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="social--nav">
    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>


</div>