<header>
    <div class="container row">
        <a href="/"><i class="fab fa-cloudversify"></i>Store</a>
        <button class="nav-toggle" aria-label="nav--visible">
            <span class="hamburger"><i class="fas fa-bars"></i></span>
        </button>
        <nav class="nav">
            <ul class></ul>
            <li class="nav__item"><a href="/" class="nav__link">Home</a></li>


            <li><a href="/animeStore" class="dropdown-item">Anime</a></li>
            <li><a href="/mangaStore" class="dropdown-item">Manga</a></li>

            </li>
            <li class="nav__item"><a href="" class="nav__link"></a></li>

            <ul class="nav__list">
                <li class="nav__item"> <a href="#" class="nav__link"> <i class="fas fa-sign-in-alt "
                            title="sign in user icon"></i> Sign in</a>
                </li>
                <li class="nav__item"> <a href="#" class="nav__link nav__link--btn"> <i class="fas fa-user-plus"
                            title="sign up user icon"></i> Sign up</a></li>
            </ul>
        </nav>

    </div>
</header>

<div class="social--nav">
    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>


</div>