<%- include('partials/head') %>
    <%- include('partials/header') %>

        <h1>Anime Store</h1>
        <ul>
            <% for(let anime of animes) { %>
                <li> <a href="/products/<%= anime._id%>">
                        <%= anime.title %>
                    </a>

                </li>
                <% } %>
        </ul>

        </body>

        </html>