<%- include('partials/main/head')%>
    <%- include('partials/main/header')%>



        <div class="hero">
            <div class="container">
                <div class="hero-text">

                    <h3> who is your favorite? </h3>

                    <h4> hero text</h4>
                    <button> vote </button>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Home</h1>
            <ul>
                <li></li>
                <li></li>
            </ul>
            <ul>
                <li>

                </li>
            </ul>

            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto consequuntur saepe similique,
                aperiam quidem quas, esse nam doloremque ullam iste reiciendis, sed placeat omnis suscipit. Minus
                commodi officia id sit neque itaque corporis incidunt illum modi consequatur velit ipsum quo vitae
                sequi, nemo quibusdam fuga error. Repellendus nostrum excepturi corporis distinctio vitae. Explicabo
                reiciendis quod animi aliquid neque ipsa exercitationem delectus accusantium deserunt officia? Soluta
                magni vitae minus, error excepturi reiciendis consectetur labore nam repudiandae placeat quisquam nemo
                et corporis. Laudantium quos deserunt commodi iusto, est omnis vel incidunt, quo error repellendus
                inventore doloremque ullam. Labore accusamus temporibus similique!</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto consequuntur saepe similique,
                aperiam quidem quas, esse nam doloremque ullam iste reiciendis, sed placeat omnis suscipit. Minus
                commodi officia id sit neque itaque corporis incidunt illum modi consequatur velit ipsum quo vitae
                sequi, nemo quibusdam fuga error. Repellendus nostrum excepturi corporis distinctio vitae. Explicabo
                reiciendis quod animi aliquid neque ipsa exercitationem delectus accusantium deserunt officia? Soluta
                magni vitae minus, error excepturi reiciendis consectetur labore nam repudiandae placeat quisquam nemo
                et corporis. Laudantium quos deserunt commodi iusto, est omnis vel incidunt, quo error repellendus
                inventore doloremque ullam. Labore accusamus temporibus similique!</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto consequuntur saepe similique,
                aperiam quidem quas, esse nam doloremque ullam iste reiciendis, sed placeat omnis suscipit. Minus
                commodi officia id sit neque itaque corporis incidunt illum modi consequatur velit ipsum quo vitae
                sequi, nemo quibusdam fuga error. Repellendus nostrum excepturi corporis distinctio vitae. Explicabo
                reiciendis quod animi aliquid neque ipsa exercitationem delectus accusantium deserunt officia? Soluta
                magni vitae minus, error excepturi reiciendis consectetur labore nam repudiandae placeat quisquam nemo
                et corporis. Laudantium quos deserunt commodi iusto, est omnis vel incidunt, quo error repellendus
                inventore doloremque ullam. Labore accusamus temporibus similique!</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto consequuntur saepe similique,
                aperiam quidem quas, esse nam doloremque ullam iste reiciendis, sed placeat omnis suscipit. Minus
                commodi officia id sit neque itaque corporis incidunt illum modi consequatur velit ipsum quo vitae
                sequi, nemo quibusdam fuga error. Repellendus nostrum excepturi corporis distinctio vitae. Explicabo
                reiciendis quod animi aliquid neque ipsa exercitationem delectus accusantium deserunt officia? Soluta
                magni vitae minus, error excepturi reiciendis consectetur labore nam repudiandae placeat quisquam nemo
                et corporis. Laudantium quos deserunt commodi iusto, est omnis vel incidunt, quo error repellendus
                inventore doloremque ullam. Labore accusamus temporibus similique!</p>
        </div>


        <div class="container">
            <ul>
                <li></li>
                <li></li>
            </ul>

            <ul>
                <li>

                </li>
            </ul>
        </div>

        <%- include('partials/main/footer') %>