<%- include('partials/main/head')%>
    <%- include('partials/main/header')%>

        <div class="container">

            <h1>Home</h1>
            <ul>
                <li></li>
                <li></li>
            </ul>
            <ul>
                <li>

                </li>
            </ul>
        </div>


        <div class="container">
            <ul>
                <li></li>
                <li></li>
            </ul>

            <ul>
                <li>

                </li>
            </ul>
        </div>

        <%- include('partials/main/footer') %>