<%- include('partials/store/head') %>
    <%- include('partials/store/header') %>
        <h1>Manga Store </h1>
        <ul>
            <% for(let manga of mangas) { %>
                <li><a href="/product/<%= manga._id %>">
                        <%= manga.name %>
                    </a>
                </li>
                <% } %>
        </ul>

        </body>

        </html>