@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,900;1,700&display=swap');

:root {
    --color-Alabaster-background: #F7F7F7;
    --color-flamingo-orange: #EC6137;
    --color-Gray-Suit: #C5C2CC;
    --color-honey-purple: #551868;
    
    --shadow-cards-initial: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --shadow-cards-hover: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--color-Alabaster-background);
    font-family: 'Work Sans', Sans-serif ;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
}

header {
    background-color: var(--color-honey-purple) ;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.9);
    padding: 1em;
    position: relative;
    width: 100%;
}


.container {
    width: 90%;
    margin: 0 auto;
    position: relative;

    border: blueviolet 2px solid;
}

.nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease-in-out;
}

.nav--visible {
    max-height: 100vh;
}

.social--nav {
    background-color: var(--color-Gray-Suit) ;
    display: flex;
    justify-content: center;
    padding: .5em;
}

/* navbar */
.nav ul {
    list-style: none;
    margin: 1em 0 ;
    padding: 0;

}

.nav li {
    display: flex;
    justify-content: center;
}

.nav__link {
    color: var(--color-Gray-Suit);
    margin-top:  .3em;
    text-decoration: none;
    text-transform: uppercase;
} 

.nav__link:focus,
.nav__link:hover {
    opacity: .75;
}

.nav-toggle {
    cursor: pointer;
    background-color: var(--color-honey-purple);
    border: 0;
    color: #fff ;
    position: absolute;
    right: -1%;
}

.nav__link--btn {
    background-color: var(--color-Gray-Suit);
    border-radius: 100px;
    color: var(--color-honey-purple);
    padding: .6rem .8rem ;
} 

.hamburger {
    font-size: 1.3em;
    position: relative;
    width: 50%;
}

.fa-cloudversify {
    cursor: pointer;
    color: #fff;
    font-size: 1.3em;
}

/* social--nav */
.fa-twitter,
.fa-facebook,
.fa-instagram {
    color: #fff;
    margin: 0  1em;
}

/* hero  */
.hero {
    background-image: url('/pictures/main-hero-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -3px 2px -2px rgba(0, 0, 0, 0.9);
    display: flex;
    height: calc(calc(100vw / 16) * 9);
    position: relative;
}

.hero .container {
    bottom: 0;
    left: 0;
    padding: 3em;
    position: absolute;
}

.hero-text {
    color: #fff;
    font-size: .8rem;
}

/* anime show page */

.cards {
    display: flex ;
    flex-wrap: wrap  ;
    text-align: center;
    justify-content: space-evenly;
    padding: 0;
    
    border: red 2px solid;
}


.sidebar {
    background-color: #fff;
    margin-top: 1em;
    box-shadow: var(--shadow-cards-initial) ;
}



.card__list {
    background-color: #fff;
    box-shadow: var(--shadow-cards-initial);
    list-style: none;
    margin: .4em;
    min-height: 80px;
    min-width: 15%;
}
.card__list:focus,
.card__list:hover,
.sidebar:focus,
.sidebar:hover {
    box-shadow: var(--shadow-cards-hover);
}

.card__img {
    height: 127px;
    min-width: 50px;
    padding: .7em ;
}

.card__link {
    display: flex;
    flex-direction: column-reverse;
    font-size: .5rem;
    text-decoration: none;
}

.card__link h5 {
    color: rgb(88, 88, 165);
    margin: .8em;
}

/* sidebar pokemon-- not a sidebar */
.sidebar__cont {
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.sidebar__logo {
    width: 50%;
}

.sidebar__text {
    width: 50%;
}


.pokeball {
    max-height: 150px;
    width: 70%;
    position: relative;
    left: 11px;
    top: -20px;
    
}

.pokelogo {
    max-height: 300px;
    position: relative;
    width: 70%;
    top: 5px;
    left: 12px;
    
}

.sidebar__text p {
    font-size: .9rem;
    text-align: center;
    letter-spacing: .4rem;
    margin-top: 0;
}

@media (min-width: 592px) {

    .row {
        display: flex;
        flex-direction: row-reverse;
        /* justify-content: initial; */
    }

    .sidebar {
        background-color: var(--color-Alabaster-background);
        box-shadow: none;
        width: 35%;
    }


/* cards */
    .card__list {
        height: 300px;
        min-width: 120px
    }

    
    .card__img {
        height: 250px;
        min-width: 75px;
        padding: .7em ;
    }
    .card__list {
        margin: .4em;
        min-height: 80px;
        min-width: 15%;
    }

    .card__link h6 {
        margin: 1em 0;
        font-size: 12px;
    }

/* sidebar */

    .sidebar__row {
        display: table-row;
        
    }


    .sidebar:focus,
    .sidebar:hover {
        background-color: #fff;
        box-shadow: var(--shadow-cards-hover);
    }


    
}